body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card{
  position:absolute;
  height: 40%;
  width: 40%;
  background-color: blue;
  z-index: 9999;
}

.card .card-title{
  background-color: brown;
  height: 15%;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 30px;
}

.center {
  margin: auto;
  max-width: 400px;
  min-width: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
}
div.loader {
  font-size: 100px;
}

.loaded {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.clHeader {
  width: '100%';
  height: 70px;
  background-color:#cae2e6;
}

.clSearchButton{
  margin-left: 20px;
  color: #93d2db;
  background-color: #3a5559;
  height: 35px;
  width: 100px;
  font-size: 17px;
  border-radius: 5px;
  font-weight: bold;

}

.clAddClientButton {
  margin: 20px 60px;
  color: #93d2db;
  background-color: #3a5559;
  height: 35px;
  width: 120px;
  font-size: 17px;
  border-radius: 5px;
  font-weight: bold;
  float: right;
}



.listDiv{
  display: flex;
  height: 70px;
  background-color:#cae2e6;
  margin: 20px;
}

.listDiv:hover{
  background-color: #adc1c4;
}

.snoDiv{

  width: 7%;
  height: 100%;

  display: flex;
  align-items: center;
  
}

.sno{
  margin: auto;
  font-size: 20px;
  font-weight: 500;
}

.titleDiv{

  width: 50%;
  height: 100%;
  
  display: flex;
  align-items: center;
}

.title{
  margin: auto;
  font-size: 20px;
  font-weight: 600;
}

.buttonDiv{
  width: 30%;
  height: 100%;
  
  display: flex;
  justify-content: space-evenly;
align-items: center;
}

.clAddOrderButton {
  
  color: #93d2db;
  background-color: #3a5559;
  height: 35px;
  width: 120px;
  font-size: 17px;
  border-radius: 5px;
  font-weight: bold;

}

.clShowOrderButton {

  color: #93d2db;
  background-color: #3a5559;
  height: 35px;
  width: 130px;
  font-size: 17px;
  border-radius: 5px;
  font-weight: bold;

}


div.loadericon {
  font-size: 30px;
  color: #3a5559;
}

.iconDiv {
  width: 15%;
  height: 100%;
 
  display: flex;
  justify-content: space-evenly;
align-items: center;

}

.modalTitleDiv{

  width: 100%;
  height: 10%;
  background-color: #0f1d21;
  
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
}

.modalTitle{
  margin: auto;
  font-size: 20px;
  font-weight: 600;
 
  color:#82bcc4;
  
  
}

.modalFooterDiv{

  width: 100%;
  height: 10%;
  background-color: #93d2db;
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
}


.modalInputName{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
}

.modalInputdiv{
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 50%;
  height: 70%;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.modal-delete-main {
  position:fixed;
  background: white;
  width: 400px;
  height: 200px;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 10px;
}

.modalDeleteTitleDiv{

  width: 100%;
  height: 20%;
  background-color: #0f1d21;
  
  display: flex;
  align-items: center;
  border-radius: 10px 10px 0px 0px;
}

.modalDeleteFooterDiv{

  width: 100%;
  height: 20%;

  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0px 0px 10px 10px;
}

.orderListDiv{
  display: flex;
  height: 70px;
  background-color:#cae2e6;
}

.tableHeader {
  padding:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:16px;
  font-weight: 500;
  border:  1px solid black;
  background-color: #cae2e6;
}

.tableBody {
  padding:10px;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:16px;
  border:  1px solid black;
}

.tableiconDiv {
  width: 15%;
  height: 100%;
 
  display: flex;
  justify-content: space-evenly;
align-items: center;

}

div.tableloadericon {
  font-size: 30px;
  color: #3a5559;
  padding: 0px 10px
}